@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

:root{
    --color-one:#FF8484;
    --color-two:#F7D9C4;
    --color-text: #14191E;
    --bg-1: #DCE8EB;
    --bg-1: #EFEFEF;
    --font:'DM Sans', sans-serif;
}
body{
    font-family:var(--font);
}

.container{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
a{
    text-decoration: none;
}
body{
    box-sizing: border-box;
}
@media( max-width:1200px){
    .container{
        max-width: 960px;
    }
}
@media( max-width:992px){
    .container{
        max-width: 720px;
    }
}
@media( max-width:768px){
    .container{
        max-width: 540px;
    }
}
@media( max-width:576px){
    .container{
        max-width: 100%;
        padding: 15px;
        padding: 15px;
    }
}