/* header */
.header{
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: var(--bg-1);
    padding: 0 40px;
}
.header .inner-wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .inner-logo a{
    display: flex;
    align-items: center;
}
.header .inner-logo img{
    width: 50px;
    height: auto;
}
.header .inner-logo span{
    font-size: 22px;
    font-weight: 600;
    color: var(--color-text);
    margin-left: 10px;
}
.header .inner-menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header .inner-menu ul li a{
    display: inline-block;
    padding:  35px 20px;
    color: var(--color-text);
    font-size: 18px;
}
.header .inner-menu ul li a:hover{
    background: #fff;
}
.header .inner-social ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

}

.header .inner-social ul li{
    margin-left: 10px;
}
.header .inner-social ul li a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background: #fff;
    font-size: 20px;
    color: var(--color-text);

}
.header .inner-icon-mobi{
    display: none;
}
@media(max-width:991.98px){
    .header{
        padding:  15px 20px;
    }
    .header .inner-icon-mobi{
        display: block;
        font-size: 20px;
        cursor: pointer;
    }
    .header .inner-menu{
        display: none;
    }
    .header .inner-social{
        display: none;
    }
}
/* end header */
/* section-one */
@media(max-width:767.98px){
    .section-one .inner-wrap{
        text-align: center;
    }
}
.section-one{
    background-image: url(../img/background1.jpg);
    padding: 150px 0;
    position: relative;
}
.section-one::before{
    content:"";
    position:absolute;
    top: 0;
    left: 0;
    background: #000;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}
.section-one .inner-wrap{
    position: relative;
}
.section-one .inner-wrap .inner-sup-title{
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;

}
.section-one .inner-wrap .inner-title{
    color: #fff;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 20px;
}
.section-one .inner-wrap .inner-desc{
    color: #fff;
    margin-bottom: 30px;
}
.section-one.button{
    margin-right: 30px;
}


/* end section-one */
/* button */
.button{
    color: var(--color-text);
    background: #fff;
    border: 2px solid #fff;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
}
.button-two{
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}
.button-two:hover{
    background: #fff;
    border-color: #fff;
}

.button-dark{
    background: var(--color-text);
    color: #fff;
    border-color: var(--color-text);
}
.button-dark:hover{
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}
.button-two-outline{
    background: transparent;
    color: #fff;
}
.button-two-outline:hover{
    background: var(--color-two);
    color: var(--color-text);
    border-color: var(--color-two);
}
/* end button */

/* section-two */

.section-two{
    padding: 80px 0 50px;
    background: var(--bg-1);
}
.section-two .inner-wrap{
    display: flex;
    align-items: center;
}
.section-two .inner-wrap .inner-img{
    width: 40%;
    margin-right: 5%;
}
.section-two .inner-wrap .inner-img img{
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.section-two .inner-wrap .inner-content{
    flex: 1;
}
.section-two .inner-wrap .inner-sup-title{
    font-size: 20px;
}
.section-two .inner-wrap .inner-title{
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 30px
}
.section-two .inner-wrap .inner-list{
    display: flex;
}
.section-two .inner-wrap .inner-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    margin-right: 20px;
    width: 140px;
    height: 140px;
    flex-direction: column;
}
.section-two .inner-wrap .inner-item i{
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--color-one);

}
.section-two .inner-wrap .inner-item span{
    font-weight: 600;
}
@media(max-width:991.98){
    .section-one .inner-wrap{
        flex-wrap: wrap;
    }
    .section-one .inner-wrap .inner-img{
        width: 100%;
    }
    .section-one .inner-wrap .inner-content{
        flex: none;
        width: 100%;
    }
}
@media(max-width:767.98px){
    .section-one .inner-wrap .inner-content{
        text-align: center;
    }
    .section-two .inner-wrap .inner-title{
        font-size: 40px;
    }
    .section-two .inner-wrap .inner-list{
        justify-content: center;
    }

}
@media(max-width:575.98px){

}

/* end section-two */

/* section-three */

.section-three{
    background: var(--bg-1);
    padding-top: 100px;
    padding-bottom: 100px;
}
.section-three .inner-wrap{
    display: flex;
    background: #fff;
    padding: 40px;
    border-radius: 8px;
}
.section-three .inner-wrap .inner-img{
    width: 35%;
    margin-left: 50px;
    position: relative;
   
}
.section-three .inner-wrap .inner-img img{
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
    position: absolute;
    bottom: -40px;
   
}
.section-three .inner-wrap .inner-content{
    flex: 1;
}
.section-three .inner-wrap .inner-content .inner-sub-title{
    color: #909090;
    margin-top: 0;
}
.section-three .inner-wrap .inner-content .inner-title{
    color: var(--color-text);
    font-size: 70px;
    margin-bottom: 0;
}
@media(max-width: 1199.98px){

.section-three .inner-wrap .inner-img{
    width: 33%;
    margin-left: 30px;
    position: relative;
    
}
.section-three .inner-wrap .inner-img img{
    width: 100%;
    height: auto;
}
.section-three .inner-wrap .inner-content .inner-title{
    font-size: 58px;
}
}
@media(max-width: 991.98px){
    .section-three .inner-wrap {
        flex-wrap: wrap;
    }
    .section-three  .inner-content{
        width: 100%;
        flex: none;
    }
    .section-three  .inner-img{
        width: 50%;
        margin-left: 0;
        
    }
    .section-three  .inner-img img{
        position: static;
        
    }
}
/* end section-three */


/* box-head */
.box-head{
    margin-bottom: 30px
    
}
.box-head .inner-sub-title{
    color: #909090;
    margin-top: 0;
    margin-bottom: 10px;
}
.box-head .inner-title{
    font-size: 58px;
    color: var(--color-text);
    margin-top: 0;
    margin-bottom: 0;   
}
.box-head-center{
    text-align: center;
}
/*  end box-head */


/* box-view-Action */

.view-action{
    padding: 80px 0;
    background: #DCE8EB;
}
.view-actio .inner-wrap{
    position: relative;
    aspect-ratio: 16/9;
    border-radius: 8px;
    overflow: hidden;
}
.view-action .inner-wrap img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
}
.view-action .inner-wrap .inner-button{
    position: absolute;
    top: calc(50%-80px);
    left: calc(50%-60px);
    background: #fff;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}
.view-action .inner-wrap .inner-button::before{
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    background: #ffffff;
    opacity: 0.8;
    border-radius: 50%;
    animation-duration: 1s;
    animation-name: icons;
    animation-iteration-count: infinite;
    z-index: 1;
}
/*  end box-view-Action */


/* contact form */
.contact-form{
    padding: 80px 0;
}
.contact-form .inner-wrap{
    background:#DDE8EB;
    padding: 60px 60px;
    border-radius: 8px;

}
.contact-form .inner-form-wrap{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: space-between;
}
.contact-form .inner-form-wrap input, .contact-form .inner-form-wrap  textarea{
    margin-bottom: 15px;
    border: 0;
    padding: 5px 10px;
    border-radius: 8px;
    outline: 0;
}
.contact-form .inner-form-wrap input{
    width: 30.5%;
    height: 50px;
} 
.contact-form .inner-form-wrap  textarea{
    width: 100%;
    height: 200px;
}
.contact-form .inner-button{
    text-align: right;
}
@media(max-width:991.98px){
    .contact-form .inner-form-wrap input{
        width: 100%;
    }
}
@media(max-width:575.98px){
    .contact-form .inner-wrap{
        padding: 25px;
    }
}

/*  end contact form */